{% extends "base.html" %}

{% block title %}Portfolio{% endblock %}

{% block content %}

<div class="image-container">
    {% for (full_image, thumbnail) in images %}
        <a href="#img{{ loop.index }}">
            <img src="{{ thumbnail }}" alt="Artwork">
        </a>
        <div class="lightbox" id="img{{ loop.index }}">
            <div class="lightbox-content">
                <a href="#" class="close-lightbox">&times;</a>
                <img src="{{ full_image }}" alt="Artwork">
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

